
:root{
    --primary-color:#eb4dd4b;
    -o-transition: 2s ease-in-out;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: url(./images/back2.jpg);
    background-size: cover;
    
}
ul{
    list-style: none;
    
}
a{
    text-decoration: none;
    
}
header{
    position:relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}
.nav-container {
    max-width: 80em;
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
}

.nav-ul {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    transition: 0.3s ease;
}
.logo-wrap {
    text-align: center;
    padding: 1em 0;
}
.logo:hover {
    color: #B4DBDB
}
.logo{
    font-size: 2.25rem;
    color:#fff;
    font: cursive;
    font-weight: bold;
}
.nav-li {
    font-size: 2rem;
}

.nav-ul.active {
    left: 0; 
    overflow: hidden;
    z-index: 3;
}

.nav_a{
    color:rgb(234, 232, 248);

}
.hambuger{
    cursor: pointer;
    display: block;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right:1em;
    z-index: 4;
}
.hambuger.active{
    position: fixed;
    top: 3.5em;

}
.bar{
    display: block;
    width:25px;
    height:3px;
    margin:5px auto;
    transition:4.3s ease-in-out;
    background-color: #fff;
}
.primary-color{
    color: var(--primary-color);
}
#item{
    list-style: none;

}
#item li{
    display: inline-block;
    padding-left:  0px 20px;

}
#item li a{
    transition: all 0.3 ease 0s;

}

#item .icon i{

    color: #fff;
    font-weight: bolder;
}


.first-section{
    text-align: center;
    display: flex;
    padding: 20px;
    text-align: center;
    
}
.details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:8 rem 15 rem;
    
}
.details h4, h5, h6,p{
    color: #fff;

}
.details.one{
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.details.one a{
    color: #fff;
    background: #f13a11;
    padding:1rem 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

}
.details.one p{
    color:#666262;
    padding-bottom: 3rem;
    font-size: 1.2rem;
}
.details.one h4{
    font-size: 2.5 rem;
    font-weight: 400;
    padding-bottom: 1.2rem;
}
.details.one h6{
    font-size: 1.3rem;
    padding-bottom: 1.1rem;
    font-weight: 400;
    
}
.details.two{
    width:45%;
}
.details.two h5{
    font-size: 2.5 rem;
    padding-bottom: 1.1rem;
}
.details .two p{
    font-size: 1.1rem;
    color:darkviolet;
    margin-bottom: 0.8rem;

}


    
